.link-button {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  color:#DA006E;
  padding: 0.5rem 2rem;
  border: none;
  background-color: #DFE1DC;
  border-radius: 100vh;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
}
